.user {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .tag {
    color: #888;
    margin-bottom: 5px;
  }
  
  .location {
    color: #888;
  }
  
  .stats {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .stats li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10px;
}
  
  .label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .quantity {
    font-size: 16px;
  }
  
  /* Гарний беграунд */
  body {
    background-color: #f2f2f2;
  }